<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>There's something special about chainmaille. I can't quite put my finger on it. It's magical and durable, strong and flowing, ancient and modern. Working with it takes time, patience, and attention to detail.</p>
      </div>
      <div class="col-lg-4">
        <p>Creating pieces out of scalemaille is especially gratifying; you're literally weaving dragonhide! Whether it’s armor or jewelry, you can't go wrong with scalemaille. And who doesn't like dragons?! (Except maybe the people of Laketown.)</p>
	<p>If you have any questions feel free to email me!</p>
        <p>-Norah</p>
      </div>
    </div>
  </div>
</section>
